<?xml version="1.0" encoding="UTF-8"?>
<plugin title="tapa" loader="DEFAULT">
<overlays>
		<overlay id="startup.tapa" resourcebundle="content/tapa/resources/lang/messages">
			<menubar id="toolsmenu">
	        	<!--<menuitem id="tapa" label="${Launcher.tapa}" command="mantleXulHandler.openUrl('${Launcher.tapa}','${Launcher.tapa_TOOLTIP}','content/tapa/admin-ui/index.html')"/>-->
	      	</menubar>
	    </overlay>
	</overlays>
	<lifecycle-listener class="pt.webdetails.cpk.CpkLifecycleListener"/>
	<static-paths>
		<static-path url="/tapa/static" localFolder="static"/>
		<static-path url="/tapa/resources" localFolder="resources"/>
		<static-path url="/tapa/admin-ui" localFolder="admin-ui"/>
	</static-paths>
	<content-types>
		<content-type>
			<title>Tapa</title>
			<description></description>
			<company name="" url="" logo="@PLUGIN_COMPANY_LOGO@"></company>
		</content-type>
	</content-types>
	<content-generator
		id="tapa"
		title="Tapa"
		type="tapa"
		class="pt.webdetails.cpk.CpkContentGenerator"/>
	<!-- Menu entry -->
	<menu-items>
		<!--<menu-item id="tapa_main" anchor="tools-submenu" label="Tapa" command="content/tapa/" type="MENU_ITEM" how="LAST_CHILD"/>-->
	</menu-items>
    <external-resources resourcebundle="content/tapa/resources/config">
      <file context="mantle">content/tapa/resources/templates/external-resources.js</file>
    </external-resources>

	<perspective id="tapa.perspective" title="${title}" layout-priority="-1"
               resourcebundle="content/tapa/resources/lang/messages" content-url="content/tapa/admin-ui/index.html"
               required-security-action="org.pentaho.security.administerSecurity">
	</perspective>

</plugin>
