<div class="tapa-footer">
	<div class="tapa-footer-container container">
		<div class="pull-left footer-left-content">
			The Tapa logo icon was made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon" target="_blank">www.flaticon.com</a> and is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC BY 3.0</a>
		</div>
		<div class="pull-right oncase-logo tapa-desaturated" ng-click="footerCtrl.visitWebsite()">
	      <md-tooltip md-delay="200">
	        Visit our website
	      </md-tooltip>
		</div>
	</div>
</div>