      <div class="tapa-side-menu-content">
        <header> 
        	Information 
        	<md-button class="pull-left tapa-menu tapa-icon md-icon-button md-primary" ng-click="disposeMenu()" aria-label="Settings">
          		<md-icon md-svg-icon="assets/img/arrow_back_black.svg"></md-icon>
        	</md-button>
        </header>
		<section class="tapa-scrollable tapa-side-menu-content-body">

			<section class=" tapa-desaturated" layout="row" layout-sm="column" layout-align="center center">
					<img src="assets/img/logo.svg" width="120px"/>
			</section>


		  <h3 class="md-no-sticky">The plugin </h3>
		  <p>Tapa was developed by Oncase team to achieve an internal automation demand and it is distributed .</p>
		  <h3 class="md-no-sticky">The purpose </h3>
		  <p>The purpose behind this app is to be able to:</p>
		  <ul>
		  	<li>Change the appearance of Pentaho's Login Page - in an elegant fashion;</li>
		  	<li>Structure a way to interchange templates and assets with the minimum impact to the platform;</li>
		  	<li>Do dynamic css/js includes to pentaho app contexts;</li>
		  </ul>
		  <h3 class="md-no-sticky">Yet to come </h3>
		  <p>We're working on - but you could help us do it faster:</p>
		  <ul>
		  	<li>Enabling upload of templates;</li>
		  	<li>Enabling CRUD for the list of assets to inject on webcontext;</li>
		  	<li>Enabling images swapping;</li>
		  	<li>Enabling CRUD for texts into Login templates;</li>
		  </ul>
		  <h3 class="md-no-sticky">Contribute </h3>
		  <p>Don't be shy. Contribute to the code:</p>
			<section layout="row" layout-sm="column" layout-align="center center">
			  <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="infoCtrl.openGithub()">
			      <md-tooltip md-delay="200">
			        Code is on Github
			      </md-tooltip>
			    <md-icon md-svg-icon="assets/img/github.svg"></md-icon>
			  </md-button>
			</section>
			<section class="oncase-info-logo tapa-desaturated" layout="row" layout-sm="column" layout-align="center center">
				<md-button class="md-primary" aria-label="Settings" ng-click="footerCtrl.visitWebsite()">
			      <md-tooltip md-delay="200">
			        Visit our website
			      </md-tooltip>
					<img src="assets/img/oncase-primary-no-slogan.svg" width="120px"/>
				</md-button>
			</section>
		</section>
      </div>