<div>

	<h1>Choose between existing templates</h1>

	<p>
		We deliver tapa with some templates you can choose between. Even the default pentaho-template is available in a tapa-like template.
	</p>
	<p>
		To choose between templates, you just need to activate the one you want by clicking on its checkmark <i class="material-icons tapa-inline-icon text-green">check_circle</i> available on the templates list.
	</p>

	<h1>Upload your own images</h1>

	<p>
		The easiest way for you to get started is to use one of our templates and customize it with your company logos and background. We've developed an interface for you to do it in your browser without having to dig for folders and files and mess up your bi-server files. Just hit the edit button <i class="material-icons tapa-inline-icon text-gray">mode_edit</i> and start customizing it.
	</p>
	<p>
		The good news is that all the files you upload goes directly into your template's folder, so if you download it it's everything into one place for backup, versioning or migrating them somewhere else.
	</p>

	<h1>Customize texts</h1>

	<p>
		Into some of the templates, there are some static texts, placeholders and other variables that you might want to change. For this purpose, we've implemented into those templates, what we call <strong>Text Tags</strong>.
	</p>
	<p>
		These tags can also be customized using our interface. Just hit the edit button <i class="material-icons tapa-inline-icon text-gray">mode_edit</i> and there you can find all the available tags for your template.
	</p>
	<p>
		<strong>Note for developeres:</strong> If you're developing your own template, you can freely add your own tags (<code ng-non-bindable>{{TEXT_TAG_NAME}}</code>) into your <em>index.html</em> template page and come to this interface to CRUD them. If you're developing an Angularjs app for your login page and you want your angular template variables to be rendered properly, make sure to write them as <code ng-non-bindable>{{ng ANGULAR_VAR }}</code>. Mind the <strong>ng</strong>. <a target="_blank" href="http://www.pippo.ro/doc/templates/pebble.html">Click here for more information</a>.
	</p>


	<h1>Upload/Download your own templates</h1>

	<p>
		With this piece of software you can customize the templates we give to you. It's also true that you can also build your own. The one that attends to your requirements. But the best of all is that you can keep backups of these guys to your own convenience.
	</p>
	<p>
		For this purpose, we provide you the ability to download <i class="material-icons tapa-inline-icon text-gray">file_download</i> and to upload <i class="material-icons tapa-inline-icon text-gray">add_circle</i> your templates from and to tapa. So if you want to keep your template revision controlled you can do it like a boss.
	</p>


	<h1>Have less pain on migrations</h1>

	<p>
		Have you ever needed to migrate your solutions between different pentaho Versions? 
	</p>
	<p>
		Well, if your answer is YES and you had custom interfaces, you know what we're talking about. There was surely an extra point on the migration checklist, to ensure your custom files were in-place.
	</p>
	<p>
		With tapa, all your customizations are in one self-contained folder. This is it. Nothing is copied along your bi-server structure.
	</p>



</div>